<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{{ page.title }}{% if page.title %} - {% endif %}mtah's code</title>
    <link rel="stylesheet" href="/cltwitter/css/syntax.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/cltwitter/css/screen.css" type="text/css" media="screen, projection" charset="utf-8" />
    <link rel="icon" href="http://11.media.tumblr.com/avatar_a59ea0d3a2b5_16.png"/>
  </head>
  <body>
    <div id="main">
    <a href="http://github.com/mtah"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
      
      {{ content }}
      
    </div>

    <div id="footer">
      <a href="http://freeasinbeard.org">To the blog! &raquo;</a>
    </div>
  </body>
</html>
